:root {
  --main: #002d64;
  --span: #4295c5;
  --back: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
p#text {
  font-family: "Poppins";
}
body {
  overflow-x: hidden;
  font-family: NunitoSans;
  width: 100vw;
}
span {
  color: var(--span);
}
nav {
  height: 4.1rem;
  background-color: white;
  width: 100%;
  display: flex;
  z-index: 999;
  position: sticky;
  position: -webkit-sticky;
  font-family: NunitoSans;
  top: 0;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
nav .navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
nav .menu {
  width: 60%;
  box-sizing: border-box;
}
nav .menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
nav .menu ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
nav .menu form button {
  border: 1px solid #002d64;
  color: var(--main);
}
nav .menu form button:hover {
  background-color: var(--main);
}
nav .menu ul li a {
  color: black;
  text-decoration: none;
}
nav .menu ul li a:hover {
  color: var(--main);
}
.extra-menu {
  width: 20%;
  align-items: center;
  color: black;
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
  top: -10px;
}
.extra-menu .profil button {
  background-color: white;
  color: black;
  border: none;
}
.extra-menu ul#dropdown {
  margin-left: -4rem;
}

.extra-menu .login a {
  text-decoration: none;
  color: black;
  background-color: var(--span);
  border-radius: 10px;
  padding: 10px 30px;
}
/*Hero*/
#hero {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: NunitoSans;
  background-color: white;
}
.hero {
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 23px;
  align-items: center;
  background-attachment: fixed;
  background: linear-gradient(90deg, #dcdcdc 2%, #eee 100%);
  overflow: hidden;
}
.hero .text {
  border-radius: 23px;
  padding-left: 7rem;
  width: 600px;
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 50px;
  z-index: 2;
  background-color: var(--back);
}
.hero .text h2 {
  font-size: 50px;
}

.hero .text h5 {
  font-size: 30px;
  opacity: 0.4;
}
.hero .button {
  margin-top: 50px;
}
.button a {
  text-decoration: none;
  color: black;
  background-color: var(--span);
  box-shadow: 1px 1px 7px #666666;
  border-radius: 10px;
  padding: 10px 20px;
  transition: 1s;
  font-size: 1rem;
}
.hero .button a:hover {
  background-color: var(--main);
}
.slider-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 40vw;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  filter: drop-shadow(7px 7px 7px #666666);
  width: 40vw;
  position: relative;
  top: 2rem;
}

.foto img {
  filter: drop-shadow(7px 7px 7px #666666);
  transition: 1s;
  width: 100%;
}

.hero .foto img:hover {
  transform: scale(1.1);
  transition: 1s;
}
/*Kategori*/
#kategori {
  padding-top: 7rem;
  width: 100vw;
  font-family: NunitoSans;
}

#kategori .kategori-head {
  width: 100vw;
  margin-bottom: 5rem;
  margin-left: 5rem;
}
#kategori .container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.produk {
  width: 26vw;
  height: 35vh;
  margin-top: 20px;
  border-radius: 23px;
  color: white;
  display: flex;
}
.produk .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.produk h3 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
.produk .foto {
  width: 50%;
  position: relative;
  top: -90px;
  left: -80px;
  z-index: 1;
}
.produk .foto img {
  width: 150%;
}
#sandal .foto {
  left: -100px;
  top: 30px;
}
#sandal .foto img {
  width: 150%;
}
#kaos {
  background-color: #fec62e;
}
#kemeja {
  background-color: #222;
}
#sandal {
  background-color: #f42c37;
}
#ganci {
  background-color: black;
}
#ganci .foto {
  top: -60px;
}
#ganci .foto img {
  width: 130%;
}
#kalung .foto img {
  width: 130%;
}
#kalung .foto {
  top: 0px;
}
#gelang .foto img {
  width: 130%;
}
#gelang .foto {
  top: 0px;
  left: 0px;
}
#kalung {
  background-color: #2dd06f;
}
#gelang {
  background-color: #1687ff;
}
.produk .button {
  transition: 1s;
  transform: translateX(0) scale(1);
  transition: transform 0.45s cubic-bezier(0.75, 0.1, 0.25, 0.9);
}
.produk .button:hover {
  transform: translate(20px) scale(1);
}
.produk .button a:hover {
  background-color: var(--main);
}

/* Produk terbaru */
#latest {
  width: 100vw;
  margin-top: 10rem;
}
#latest .latest-head {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  width: 100vw;
  margin-bottom: 2rem;
}
#latest .latest-head h2 {
  font-family: NunitoSans;
}
#latest .latest-head p a {
  color: var(--span);
  text-decoration: none;
}

#latest .produk-container {
  width: 100vw;
  padding: 0 5rem;
  display: flex;
}

#latest .produk-container .product {
  box-shadow: 0px 0px 2px 1px;
  margin: 0 1rem;
  border-radius: 5px;
  width: 20vw;
  height: 60vh;
  cursor: pointer;
}

#latest .produk-container .product .beli a {
  text-decoration: none;
  color: black;
  background-color: var(--main);
  padding: 1rem 2rem;
  position: relative;
  border-radius: 2px;
}
#latest .produk-container .product .beli {
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: 0.5s;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
#latest .produk-container .product .foto-produk-terbaru {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem 0;
}
#latest .produk-container .product .foto-produk-terbaru img {
  width: 50%;
}
#latest .produk-container .product .rating,
.nama,
.harga {
  margin-left: 1rem;
}

/* Halaman Login */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background: url("img/login.png");
}
.container-login form {
  position: relative;
  border-radius: 30px;
  height: 80vh;
  width: 32vw;
  background: rgba(238, 231, 231, 0.13);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.container-login form h1 {
  text-align: center;
  margin-top: 1.5rem;
}
.container-login form h1.astro {
  margin-bottom: 5rem;
}

.container-login form .form #form {
  margin: 0.5rem 3rem;
}

.container-login form .form input#ingat {
  width: 15px;
  margin-right: 1rem;
}
.container-login form .form .ingat {
  padding-left: 3.1rem;
}
.container-login form .form p#text {
  display: flex;
  align-items: center;
}
.container-login form input {
  width: 21vw;
  border-radius: 10px;
  height: 2.4rem;
  border: none;
}
.container-login form input[placeholder] {
  padding-left: 50px;
  box-sizing: border-box;
}
.container-login form .button {
  justify-content: center;
  display: flex;
}
.container-login form button {
  width: 8vw;
  border-radius: 12px;
  height: 2.4rem;
  border: none;
  font-size: 15px;
  font-weight: 700;
  background-color: var(--span);
  cursor: pointer;
  margin-bottom: 1rem;
}

.container-login form .other {
  margin-top: 1rem;
  text-align: center;
  color: #302929;
  font-weight: 100;
  font-family: sans-serif;
}
.container-login form .other .social {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.container-login form .other .social #social {
  background-color: rgba(255, 255, 255, 0.822);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-login form .registrasi {
  font-family: sans-serif;
  margin-left: 3rem;
}

.tanggal-lahir table select {
  border-radius: 10px;
  height: 5vh;
  width: 5vw;
  border: none;
  margin-right: 1rem;
}
form .password i#togglePassword {
  position: relative;
  cursor: pointer;
  left: -40px;
  top: -3px;
}

/* Cart */
.cart-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-family: NunitoSans;
  padding-left: 3rem;
}

.cart-left {
  width: 100vw;
}
.cart-left .cart-foot {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 90vw;
  background-color: white;
  padding: 10px 0;
}
.checkout a {
  color: #222;
  text-decoration: none;
}
.cart-left .cart-table {
  width: 90vw;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.cart-left .cart-table table tr {
  text-align: center;
}
.cart-left .cart-table table {
  width: 90vw;
}
.cart-left tr td {
  height: 10rem;
}
.cart-left .cart-table table td input#total-harga {
  border: none;
  text-align: center;
  background: transparent;
}
.checkout .jumlah-checkout input#total {
  position: relative;
  border: none;
}
.checkout .jumlah-checkout input#total-item {
  position: relative;
  max-width: 40px;
  text-align: center;
  border: none;
}
.right-foot .checkout .popup{
  position: absolute;
  top: -450%;
  left: 25%;
  display: none;
  background: rgba(0, 0, 0, 0.534);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 50vw;
  text-align: center;
  line-height: 100px;
  border: 1px solid black;
  animation: fadeOut 3s;
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
.cart-left td#foto-barang img {
  height: 10rem;
}

.cart-left tr:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 2;
}
.cart-left tr:nth-child(1) th p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-left td td#jumlah {
  display: flex;
}
.cart-container .cart-left tr td button {
  width: 40px;
  border: none;
  background-color: #717575;
}
.cart-container .cart-left tr td#jumlah input {
  width: 40px;
  border: none;
  text-align: center;
}

.cart-left .cart-head {
  margin-bottom: 2rem;
}
.cart-left .cart-head h1 {
  font-size: 1.4rem;
}

.cart-right {
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: 0px;
}

.cart-right .payment {
  height: 100vh;
  padding: 3rem 1rem;
  background-color: #efefef;
}

.payment .checkout {
  display: flex;
  justify-content: center;
  margin-top: 17rem;
}
.payment .checkout button {
  border-radius: 5px;
  background-color: var(--span);
  outline: none;
  border: none;
  width: 20vw;
}
.cart-left .left-foot {
  display: flex;
  align-items: center;
}
.cart-left .left-foot a {
  text-decoration: none;
  color: var(--span);
}
.cart-left .left-foot:hover p#kembali {
  animation: animasi_kembali 10s ease;
  position: relative;
}

@keyframes animasi_kembali {
  0% {
    left: 0;
    transform: scale(1);
  }
  10% {
    left: -10px;
    transform: scale(1.2);
  }
  100% {
    left: -10px;
    transform: scale(1.2);
  }
}

.right-foot .checkout {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* footer */
footer {
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  margin-top: 12rem;
  padding: 3rem 0;
}

footer a {
  color: black;
  text-decoration: none;
}
footer #foot h3 {
  margin-bottom: 3rem;
  font-family: NunitoSans;
}

/* Produk page */
.hero-product {
  width: 100vw;
  height: 20rem;
  background-position-y: 100px;
  background: url("https://img.freepik.com/free-psd/flat-design-fashion-template_23-2150070756.jpg?w=900&t=st=1707193233~exp=1707193833~hmac=732e9c501d439bc0213298a79015059baa70d0fcac6055e71c847cadfa25d47d");
  background-size: cover;
  background-repeat: none;
}

/* Informasi Pembayaran */
.checkout-page {
  width: 60vw;
}
.checkout-page .alamat {
  color: black;
  font-family: "Poppins";
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-page .alamat a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.alamat .info-alamat {
  min-width: 97%;
}
.checkout-page ul {
  list-style-type: none;
  padding-left: 0;
}
.checkout-page .info-pembelian {
  margin-top: 2rem;
  display: flex;
  background-color: #ebebeb;
  height: 10rem;
}
.checkout-page .info-pembelian .harga-dan-jumlah {
  display: flex;
  justify-content: space-between;
}
.checkout-page .info-pembelian .foto-barang {
  height: 10rem;
  display: flex;
  justify-content: center;
  width: 20%;
}
.checkout-page .info-pembelian .foto-barang img {
  height: 10rem;
}
.checkout-page .info-pembelian .keterangan-barang {
  width: 80%;
  line-height: 3rem;
  padding: 0 3rem;
}

/* RIncian Pembayaran */
.rincian-pembayaran{
  margin-top: 2rem;
}
.rincian-pembayaran .rincian{
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.rincian-pembayaran .rincian p#text{
  line-height: 30px;
}
.rincian-pembayaran .rincian input{
  border: none;
  cursor: default;
}
/* Responsif */
